@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html, body{
  margin: 0;
}


.text-center{
  text-align: center;
}

.title{
  font-size: 3em;
  font-family: 'Shadows Into Light', cursive;
}

.reading-font{
  font-family: 'Open Sans', sans-serif;
}